#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.FeaturedRecipes {
  padding: 2rem;
}

.FeaturedRecipes h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.FeaturedRecipes p {
  margin-bottom: 1rem;
}